<div class="container mt-5"> 
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Alumnos</span>
                    <button class="btn btn-success float-end" routerLink="/crear-alumno">Nuevo Alumno</button>
                    <table class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>13</td>
                            <td>
                                <i class="fas fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fas fa-solid fa-trash text-danger"></i>   
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>18</td>
                          </tr>

                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
